modc-web/src/main/resources/wsdl/UpdateDoiService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://merc.monash.edu/ws/schema/doi"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://merc.monash.edu/ws/schema/doi"
                  targetNamespace="http://merc.monash.edu/ws/schema/doi">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:doi="http://merc.monash.edu/ws/schema/doi"
                attributeFormDefault="qualified" elementFormDefault="qualified"
                targetNamespace="http://merc.monash.edu/ws/schema/doi">
            <element name="UpdateDoiRequest">
                <annotation>
                    <documentation>UpdateDoiRequest for updating a doi.</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="serviceId" type="string"/>
                        <element name="doi" type="doi:Doi"/>
                        <element name="resource" type="doi:DResource"/>
                        <element minOccurs="0" name="url" type="doi:DUrl"/>
                    </sequence>
                </complexType>
            </element>
            <element name="UpdateDoiResponse">
                <annotation>
                    <documentation>UpdateDoiResponse for updating a doi.</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="serviceId" type="string"/>
                        <element name="responsecode" type="doi:DResponseCode"/>
                        <element name="message" type="string"/>
                        <element name="doi" type="doi:Doi"/>
                        <element name="url" type="string"/>
                        <element name="verbosemessage" type="string"/>
                    </sequence>
                    <attribute name="type" type="doi:DResponseTypeAtt" use="required"/>
                </complexType>
            </element>
            <complexType name="DResource">
                <sequence>
                    <element name="creators" type="doi:DCreators"/>
                    <element name="titles" type="doi:DTitles"/>
                    <element name="publisher" type="doi:NoneEmptyString"/>
                    <element name="publicationYear" type="date"/>
                    <element minOccurs="0" name="subjects" type="doi:DSubjects"/>
                    <element minOccurs="0" name="contributors" type="doi:DContributors"/>
                    <element minOccurs="0" name="dates" type="doi:DDates"/>
                    <element minOccurs="0" name="language" type="language"/>
                    <element name="resourceType" type="doi:DResourceType"/>
                    <element minOccurs="0" name="alternateIdentifiers" type="doi:DAlternateIdentifiers"/>
                    <element minOccurs="0" name="relatedIdentifiers" type="doi:DRelatedIdentifiers"/>
                    <element minOccurs="0" name="sizes" type="doi:DSizes"/>
                    <element minOccurs="0" name="formats" type="doi:DFormats"/>
                    <element minOccurs="0" name="version" type="string"/>
                    <element minOccurs="0" name="rights" type="string"/>
                    <element minOccurs="0" name="descriptions" type="doi:DDescriptions"/>
                </sequence>
            </complexType>
            <complexType name="DCreators">
                <sequence>
                    <element maxOccurs="unbounded" name="creator" type="doi:DCreator"/>
                </sequence>
            </complexType>
            <complexType name="DCreator">
                <annotation>
                    <documentation>The main researchers involved working on the data, or the authors of the
                        publication in priority order. May be a corporate/institutional or personal
                        name.
                    </documentation>
                    <documentation>Format: Family, Given.</documentation>
                </annotation>
                <sequence>
                    <element name="creatorName" type="doi:NoneEmptyString"/>
                    <element minOccurs="0" name="nameIdentifier" type="doi:DNameIdentifier"/>
                </sequence>
            </complexType>
            <complexType name="DNameIdentifier">
                <simpleContent>
                    <extension base="doi:NoneEmptyString">
                        <attribute name="nameIdentifierScheme" type="string" use="required"/>
                    </extension>
                </simpleContent>
            </complexType>
            <complexType name="DTitles">
                <sequence>
                    <element maxOccurs="unbounded" name="title" type="doi:DTitle"/>
                </sequence>
            </complexType>
            <complexType name="DTitle">
                <annotation>
                    <documentation>A name or title by which a resource is known.</documentation>
                </annotation>
                <simpleContent>
                    <extension base="doi:NoneEmptyString">
                        <attribute name="titleType" type="doi:DTitleTypeAtt" use="optional"/>
                    </extension>
                </simpleContent>
            </complexType>
            <simpleType name="DTitleTypeAtt">
                <restriction base="string">
                    <enumeration value="AlternativeTitle"/>
                    <enumeration value="Subtitle"/>
                    <enumeration value="TranslatedTitle"/>
                </restriction>
            </simpleType>
            <complexType name="DSubjects">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="subject" type="doi:DSubject"/>
                </sequence>
            </complexType>
            <complexType name="DSubject">
                <annotation>
                    <documentation>Subject, keywords, classification codes, or key phrases describing the
                        resource.
                    </documentation>
                </annotation>
                <simpleContent>
                    <extension base="doi:NoneEmptyString">
                        <attribute name="subjectScheme" type="string" use="optional"/>
                    </extension>
                </simpleContent>
            </complexType>
            <complexType name="DContributors">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="contributor" type="doi:DContributor"/>
                </sequence>
            </complexType>
            <complexType name="DContributor">
                <annotation>
                    <documentation>The institution or person responsible for collecting, creating, or
                        otherwise contributing to the developement of the dataset.
                    </documentation>
                    <documentation>The personal name format should be: Family, Given.</documentation>
                </annotation>
                <sequence>
                    <element name="contributorName" type="doi:NoneEmptyString"/>
                    <element minOccurs="0" name="nameIdentifier" type="doi:DNameIdentifier"/>
                </sequence>
                <attribute name="contributorType" type="doi:DContributorTypeAtt" use="required"/>
            </complexType>
            <simpleType name="DContributorTypeAtt">
                <annotation>
                    <documentation>The type of contributor of the resource.</documentation>
                </annotation>
                <restriction base="string">
                    <enumeration value="ContactPerson"/>
                    <enumeration value="DataCollector"/>
                    <enumeration value="DataManager"/>
                    <enumeration value="Distributor"/>
                    <enumeration value="Editor"/>
                    <enumeration value="Funder"/>
                    <enumeration value="HostingInstitution"/>
                    <enumeration value="Producer"/>
                    <enumeration value="ProjectLeader"/>
                    <enumeration value="ProjectMember"/>
                    <enumeration value="RegistrationAgency"/>
                    <enumeration value="RegistrationAuthority"/>
                    <enumeration value="RelatedPerson"/>
                    <enumeration value="RightsHolder"/>
                    <enumeration value="Researcher"/>
                    <enumeration value="Sponsor"/>
                    <enumeration value="Supervisor"/>
                    <enumeration value="WorkPackageLeader"/>
                </restriction>
            </simpleType>
            <complexType name="DDates">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="date" type="doi:DDate"/>
                </sequence>
            </complexType>
            <complexType name="DDate">
                <annotation>
                    <documentation>Different dates relevant to the work.</documentation>
                    <documentation>YYYY or YYYY-MM-DD or any other format described in W3CDTF
                        (http://www.w3.org/TR/NOTE-datetime)
                    </documentation>
                </annotation>
                <simpleContent>
                    <extension base="dateTime">
                        <attribute name="dateType" type="doi:DDateTypeAtt" use="required"/>
                    </extension>
                </simpleContent>
            </complexType>
            <simpleType name="DDateTypeAtt">
                <annotation>
                    <documentation>DateType Attribute</documentation>
                </annotation>
                <restriction base="string">
                    <enumeration value="Accepted"/>
                    <enumeration value="Available"/>
                    <enumeration value="Copyrighted"/>
                    <enumeration value="Created"/>
                    <enumeration value="EndDate"/>
                    <enumeration value="Issued"/>
                    <enumeration value="StartDate"/>
                    <enumeration value="Submitted"/>
                    <enumeration value="Updated"/>
                    <enumeration value="Valid"/>
                </restriction>
            </simpleType>
            <complexType name="DResourceType">
                <annotation>
                    <documentation>The type of a resource. You may enter an additional free text
                        description.
                    </documentation>
                </annotation>
                <simpleContent>
                    <extension base="string">
                        <attribute name="resourceTypeGeneral" type="doi:DResourceTypeGeneralAtt" use="required"/>
                    </extension>
                </simpleContent>
            </complexType>
            <simpleType name="DResourceTypeGeneralAtt">
                <annotation>
                    <documentation>The general type of a resource.</documentation>
                    <documentation>Use this attribute to choose the general type of the resource from the
                        controlled list.
                    </documentation>
                </annotation>
                <restriction base="string">
                    <enumeration value="Audiovisual"/>
                    <enumeration value="Collection"/>
                    <enumeration value="Dataset"/>
                    <enumeration value="Event"/>
                    <enumeration value="Image"/>
                    <enumeration value="InteractiveResource"/>
                    <enumeration value="Model"/>
                    <enumeration value="PhysicalObject"/>
                    <enumeration value="Service"/>
                    <enumeration value="Software"/>
                    <enumeration value="Sound"/>
                    <enumeration value="Text"/>
                    <enumeration value="Workflow"/>
                    <enumeration value="Other"/>
                </restriction>
            </simpleType>
            <complexType name="DAlternateIdentifiers">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="alternateIdentifier"
                             type="doi:DAlternateIdentifier"/>
                </sequence>
            </complexType>
            <complexType name="DAlternateIdentifier">
                <annotation>
                    <documentation>An identifier other than the primary identifier applied to the resource being
                        registered. This may be any alphanumeric string which is unique within its domain of issue. The
                        format is open
                    </documentation>
                </annotation>
                <simpleContent>
                    <extension base="string">
                        <attribute name="alternateIdentifierType" use="required"/>
                    </extension>
                </simpleContent>
            </complexType>
            <complexType name="DRelatedIdentifiers">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="relatedIdentifier"
                             type="doi:DRelatedIdentifier"/>
                </sequence>
            </complexType>
            <complexType name="DRelatedIdentifier">
                <annotation>
                    <documentation>Identifiers of related resources. Use this property to indicate subsets of
                        properties, as appropriate.
                    </documentation>
                </annotation>
                <simpleContent>
                    <extension base="string">
                        <attribute name="relatedIdentifierType" type="doi:DRelatedIdentifierTypeAtt" use="required"/>
                        <attribute name="relationType" type="doi:DRelationTypeAtt" use="required"/>
                    </extension>
                </simpleContent>
            </complexType>
            <simpleType name="DRelatedIdentifierTypeAtt">
                <annotation>
                    <documentation>The type of the RelatedIdentifier.</documentation>
                </annotation>
                <restriction base="string">
                    <enumeration value="ARK"/>
                    <enumeration value="DOI"/>
                    <enumeration value="EAN13"/>
                    <enumeration value="EISSN"/>
                    <enumeration value="Handle"/>
                    <enumeration value="ISBN"/>
                    <enumeration value="ISSN"/>
                    <enumeration value="ISTC"/>
                    <enumeration value="LISSN"/>
                    <enumeration value="LSID"/>
                    <enumeration value="PURL"/>
                    <enumeration value="UPC"/>
                    <enumeration value="URL"/>
                    <enumeration value="URN"/>
                </restriction>
            </simpleType>
            <simpleType name="DRelationTypeAtt">
                <annotation>
                    <documentation>Description of the relationship of the resource being registered (A) and the related
                        resource (B).
                    </documentation>
                </annotation>
                <restriction base="string">
                    <enumeration value="IsCitedBy"/>
                    <enumeration value="Cites"/>
                    <enumeration value="IsSupplementTo"/>
                    <enumeration value="IsSupplementedBy"/>
                    <enumeration value="IsContinuedBy"/>
                    <enumeration value="Continues"/>
                    <enumeration value="IsNewVersionOf"/>
                    <enumeration value="IsPreviousVersionOf"/>
                    <enumeration value="IsPartOf"/>
                    <enumeration value="HasPart"/>
                    <enumeration value="IsReferencedBy"/>
                    <enumeration value="References"/>
                    <enumeration value="IsDocumentedBy"/>
                    <enumeration value="Documents"/>
                    <enumeration value="IsCompiledBy"/>
                    <enumeration value="Compiles"/>
                    <enumeration value="IsVariantFormOf"/>
                    <enumeration value="IsOriginalFormOf"/>
                </restriction>
            </simpleType>
            <complexType name="DSizes">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="size" type="string"/>
                </sequence>
            </complexType>
            <complexType name="DFormats">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="format" type="string"/>
                </sequence>
            </complexType>
            <complexType name="DDescriptions">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="description" type="doi:DDescription"/>
                </sequence>
            </complexType>
            <complexType name="DDescription">
                <annotation>
                    <documentation>Subject, keywords, classification codes, or key phrases describing the
                        resource.
                    </documentation>
                </annotation>
                <simpleContent>
                    <extension base="doi:NoneEmptyString">
                        <attribute name="descriptionType" type="doi:DDescriptionTypeAtt" use="required"/>
                    </extension>
                </simpleContent>
            </complexType>
            <simpleType name="DDescriptionTypeAtt">
                <annotation>
                    <documentation>The type of the descriptionType Attribute.</documentation>
                </annotation>
                <restriction base="string">
                    <enumeration value="Abstract"/>
                    <enumeration value="SeriesInformation"/>
                    <enumeration value="TableOfContents"/>
                    <enumeration value="Other"/>
                </restriction>
            </simpleType>
            <simpleType name="NoneEmptyString">
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="4000"/>
                </restriction>
            </simpleType>
            <simpleType name="DUrl">
                <restriction base="string">
                    <pattern value="(https?://)?[-\w.]+(:\d{2,5})?(/([\w/_.]*)?)?"/>
                </restriction>
            </simpleType>
            <simpleType name="DResponseCode">
                <restriction base="string">
                    <enumeration value="MT001"/>
                    <enumeration value="MT002"/>
                    <enumeration value="MT003"/>
                    <enumeration value="MT004"/>
                    <enumeration value="MT005"/>
                    <enumeration value="MT006"/>
                    <enumeration value="MT007"/>
                    <enumeration value="MT008"/>
                    <enumeration value="MT009"/>
                    <enumeration value="MT010"/>
                    <enumeration value="MT011"/>
                    <enumeration value="MT012"/>
                    <enumeration value="MT013"/>
                    <enumeration value="MT090"/>
                    <enumeration value="MT091"/>
                </restriction>
            </simpleType>
            <simpleType name="DResponseTypeAtt">
                <restriction base="string">
                    <enumeration value="success"/>
                    <enumeration value="failure"/>
                </restriction>
            </simpleType>
            <simpleType name="Doi">
                <restriction base="token">
                    <pattern value="[1][0][/.].*"/>
                </restriction>
            </simpleType>
        </schema>
    </wsdl:types>
    <wsdl:message name="UpdateDoiRequest">
        <wsdl:part element="tns:UpdateDoiRequest" name="UpdateDoiRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateDoiResponse">
        <wsdl:part element="tns:UpdateDoiResponse" name="UpdateDoiResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UpdateDoiService">
        <wsdl:operation name="UpdateDoi">
            <wsdl:input message="tns:UpdateDoiRequest" name="UpdateDoiRequest">
            </wsdl:input>
            <wsdl:output message="tns:UpdateDoiResponse" name="UpdateDoiResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdateDoiServiceSoap11" type="tns:UpdateDoiService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateDoi">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateDoiRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDoiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpdateDoiService">
        <wsdl:port binding="tns:UpdateDoiServiceSoap11" name="UpdateDoiServiceSoap11">
            <soap:address location="/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>